{% extends 'layout.html' %}
{% block content %}
<div class="p-4">
  <h2 class="text-xl font-bold mb-4">Perhitungan Bobot Kriteria (AHP)</h2>

  <h3 class="font-semibold mt-6">Matriks Perbandingan</h3>
  <table class="table-auto border mt-2 mb-6">
    <thead><tr><th></th>{% for k in kriteria %}<th class="border px-3">{{ k.nama_kriteria }}</th>{% endfor %}</tr></thead>
    <tbody>
      {% for i in range(kriteria|length) %}
      <tr>
        <td class="border px-3 font-semibold">{{ kriteria[i].nama_kriteria }}</td>
        {% for j in range(kriteria|length) %}
        <td class="border px-3 text-center">{{ '%.3f' % matriks[i][j] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 class="font-semibold mt-6">Matriks Normalisasi</h3>
  <table class="table-auto border mt-2 mb-6">
    <thead><tr><th></th>{% for k in kriteria %}<th class="border px-3">{{ k.nama_kriteria }}</th>{% endfor %}<th class="border px-3">Bobot</th></tr></thead>
    <tbody>
      {% for i in range(kriteria|length) %}
      <tr>
        <td class="border px-3 font-semibold">{{ kriteria[i].nama_kriteria }}</td>
        {% for j in range(kriteria|length) %}
        <td class="border px-3 text-center">{{ '%.3f' % normalisasi[i][j] }}</td>
        {% endfor %}
        <td class="border px-3 text-green-700 font-semibold text-center">{{ '%.4f' % bobot[i] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
